@font-face{
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Medium.ttf');
	font-weight: 600;
}

.top-menu .nav li:nth-last-child(2) a {/* color: #fff !important; */border-right: 1px solid #3c3c3c !important;}

.top-menu .nav li:nth-last-child(1) a { border-right: none; }

#menu-item-104 a{
    border-right:none !important;
}

.enquiryform input[type=text], .enquiryform textarea{
    width:100%;
}

.enquiryform ul li{
    background: none;
    padding-left:0;
}

#field_5_6 .ginput_container{ 
    
}

#input_5_6 li{
    display: inline;
}

#gform_5 input[type=submit]{
     background: none repeat scroll 0 0 #d64600;
    color: #fff;
    font-size: 18px;
    line-height: 29px;
    padding: 7px 30px 5px;
    float:right;
    border: medium none;
    border-radius: 4px;
    font-family: "MontserratBold",Arial,Verdana,Helvetica;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    margin-right:15px;
}

html{
    margin-top:0 !important;
}


.cal_button [class^="icon-"], .cal_button [class*=" icon-"] {
    display:inline !important;
}

.tab_instagram{
	font-size:22px;
	color: #000 !important;
}

#gform_6 ul li{
    background:none !important;
    padding:0;
}

#field_6_3 .gfield_label{
    display:none;
}

#gform_6 input[type=submit]{
     background: none repeat scroll 0 0 #d64600;
    color: #fff;
    font-size: 18px;
    line-height: 29px;
    padding: 7px 30px 5px;
    float:right;
    border: medium none;
    border-radius: 4px;
    font-family: "MontserratBold",Arial,Verdana,Helvetica;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    
}

#gform_9 ul li{
    background:none !important;
    padding:0;
}

#field_9_3 .gfield_label{
    display:none;
}

#gform_9 input[type=submit]{
     background: none repeat scroll 0 0 #d64600;
    color: #fff;
    font-size: 18px;
    line-height: 29px;
    padding: 7px 30px 5px;
    float:right;
    border: medium none;
    border-radius: 4px;
    font-family: "MontserratBold",Arial,Verdana,Helvetica;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    
}

.subscribe-form input[type="text"], .subscribe-form input[type="email"] {
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    margin-bottom: 13px !important;
    padding: 8px !important;
    width: 100% !important;
}

.gform_wrapper input[type="text"], .gform_wrapper input[type="url"], .gform_wrapper input[type="email"], .gform_wrapper input[type="tel"], .gform_wrapper input[type="number"], .gform_wrapper input[type="password"] {
    font-size: 15px !important;
}

#field_6_3{
    margin-top:10px;
}

.gform_wrapper .gform_footer {
    margin:0 !important;
    padding:0 !important;
}

.map_wrapper iframe{
    width:100% !important;
    height:250px !important;
}

.ui-datepicker{
    z-index: 50 !important;
}

.product-list .text{
    /* padding-left:20px; */
}

.ui-datepicker-prev, .ui-datepicker-next {
    background-image:none !important;
}

#gform_7 input[type="submit"], #gform_8 input[type="submit"] {
    background: none repeat scroll 0 0 #d64600;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: "MontserratBold",Arial,Verdana,Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    padding: 7px 30px 5px;
    text-transform: uppercase;
}

.gfield.gsection{
    margin: 40px 0 20px 0;
}

.ui-datepicker-month, .ui-datepicker-year{
    color:#000;
    
}

.ui-datepicker-month{
    float:left;
}

.ui-datepicker-year{
    float:right;
}

.sitemap ul li{
    background-image:none;
}

.nav-tabs li a{
    padding:11px 5px 7px !important;
    font-size:12px !important;
}

.footer .social.mobile li{
	width:20% !important;
}

.footer .social.mobile-flags li{
	width:25% !important;
}

.footer .social.mobile-flags li img{
	width:100%;
	padding:5px;
}

@media (max-width: 767px) {
    .navbar-nav>li.hidden-xs{
        display:none !important;
    }   
}


.container{
    max-width:1100px !important;
	
	//max-width:1220px !important;
}

.navbar .container{
    max-width:1160px !important;
}

.banner .text{
    left:42%;
	width: 500px !important; 
	margin-left: 0 !important; 
	padding-left: 0 !important; 
	padding-right: 0 !important; 
	top: 7%;
	
}
.banner .text .main-heading{
	font-size: 50px;
	line-height: 1em;
}

.banner .text.slide_center{
	left:48%;
}

.banner .text.slide_right{
	left:52%;
	
}

.banner .text.text_center{
	text-align:center;
}

.banner .text.text_right{
	text-align:right;
}

.banner .text.slide_bottom{
	top:auto;
	bottom:7%;
}

@media(max-width:1200px){
	.banner .text .main-heading{
		font-size:40px !important;
	}
	
	.slider-subheading{
		font-size:29px !important;
	}
	
	.banner .text{
		left:50%;
		width:400px;
	}
	
	.banner .text.slide_center{
		left:50%;
	}
	
	.banner .text.slide_right{
		left:auto;
		right:20px;
	}
}


.owl-theme .owl-controls{
	left:50%;
	
}



.map_wrapper{
    width:100%;
    height:400px;
    margin-bottom:30px;
}


.gform_wrapper.gf_browser_gecko select {
    padding: 0 !important;
}

.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
    width: 48%;
}

.international ul li .coming-soon{
    top:26% !important;
    width:85% !important;
}

.global-header .share-icons{
    width:240px;
}

.intro .sign-up{
    min-height:390px;
}

.offer{
    font-size:20px;
}

.es-carousel ul li{
    background:none;
    display:inline !important;
    padding:0;
    float:left;
}

.es-carousel ul li a {
    border:none !important;
}

.carimage{
    width:100%;
}

.clear{
    clear:both;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.why-buy-box h4, .why-hire-box h4{
    color: #d64600;
    font-size: 26px;
	font-family: "Montserrat",Arial,Verdana,Helvetica;
	margin:0;
	padding:15px 0 25px 0;
}

.offer a {
    color: #000;
    display: inline-block;
    padding: 15px 15px 0 20px;
    position: absolute;
    width: 100%;
}

.fancybox img{
   border: 2px solid #fff;
}

.salespecs{
    width:100% !important;
    background: none repeat scroll 0 0 #f1f1f1 !important;
}

.salespecs:before {
    background: none repeat scroll 0 0 #f89828 !important;
    
    padding: 6px 22px !important;
}

.panel-orange .heading {
    font-size:21px !important;
}

table.distance {
    color: #000000;
    text-align: center;
    width: 100%;
}
table.distance td {
    border: 1px solid #ffffff;
    font-size: 0.9em;
    height: 45px;
    width: 10%;
}
td.y1 {
    background: none repeat scroll 0 0 #ffff43;
    font-weight: bold;
}
td.y2 {
    background: none repeat scroll 0 0 #ffed45;
}
td.y3 {
    background: none repeat scroll 0 0 #ffc345;
}
td.y4 {
    background: none repeat scroll 0 0 #ff8641;
}
td.y5 {
    background: none repeat scroll 0 0 #ff8645;
}
td.y6 {
    background: none repeat scroll 0 0 #ff5d44;
}
td.y7 {
    background: none repeat scroll 0 0 #ff4547;
}
td.y8 {
    background: none repeat scroll 0 0 #fe3462;
}
td.y9 {
    background: none repeat scroll 0 0 #f93c96;
}

.smallMargin{
    margin: 10px 0 30px !important
}

.benefits ul{
    margin:0;
}

.panel-orange .heading a{
    color:#fff !important;
}

.homepage .owl-item .text:hover{
    cursor: pointer;
}

.container.mobile{
	background-color:#222;
}
#mobile-menu{
	display:none;
	/* flex-flow:row; */
	/* flex-wrap:nowrap; */
	/* justify-content:space-around; */
	align-content:space-between;
	width:calc(100% - 40px);
	box-sizing:border-box;
	margin:0 20px;
}
#mobile-menu > a,#mobile-hamburger > a{
	display:block;
	text-transform:uppercase;
	color:#fff;
	font-size:16px;
}
#mobile-menu > a.active{
	background-color:#080808;
}
#mobile-menu > a{
	/* flex:1; */
	display: table-cell;
	text-align:center;
	position:relative;
	border-right:1px solid #3c3c3c;
}
#mobile-menu > a:first-child{
	border-left: 1px solid #3c3c3c;
}
#mobile-menu > a span{
	display: block;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	line-height: 26px;
	position: absolute;
	width: 100%;
}
#mobile-hamburger > a{
	text-align:center;
}
#mobile-menu .hamburger{
	width:54px;
	height:50px;
	max-width: 80px;
}
#mobile-menu .hamburger span{
	background-color:#000;
	display:block;
	width:100px;
	height:4px;
	border-radius:2px;
}
#mobile-menu .hamburger.open{
	background-color:#080808;
}
#mobile-hamburger{
	background-color:#080808;
	padding:0 0 15px 0;
	display:none;
}
#mobile-hamburger > a{
	padding:11px 10px 0 10px;
}
#mobile-hamburger .hamburger-social a{
	padding:20px 8px 0 8px;
}
#mobile-hamburger .hamburger-social a img{
	height:28px;
	border:1px solid #fff;
	display:block;
}

.hamburger-social{
	padding: 0;
	text-align:center;
}
html .hamburger-social.dark{
	background-color:#fff;
	padding:10px 0 30px 0;
}
.hamburger-social a i{
	vertical-align:middle;
}
.hamburger-social a{
	display:inline-block;
	padding:0 8px;
	font-size:55px;
	text-decoration:none;
}
.hamburger-social a:hover{
	text-decoration:none;
	color:#ececdc;
}

.hamburger-social a .icon-facebook { color: #2b5197; }
.hamburger-social a .icon-facebook { color: #2b5197; }
.hamburger-social a:hover .icon-facebook { color: #1d3f7e; }

.hamburger-social a .icon-twitter { color: #2ab1e3; }
.hamburger-social a .icon-twitter { color: #2ab1e3; }
.hamburger-social a:hover .icon-twitter { color: #1f9ac7; }
.no-padding{padding: 0 !important;}

.product-list .features-wrap{background: #e1e1e1;border-radius:10px;padding: 10px;margin-bottom: 10px;}
.product-list .features{
	display: table;
	padding-bottom: 50px;
	/* margin-bottom: 20px; */
	width: 100%;
}
.product-list .features .featurd{
	width: 82px;
	height: 65px;
	display: table-cell;
	vertical-align: bottom;
	margin-right: 10px;
	text-align: center;
	position:relative;
}
.product-list .features .featurd img{
	max-width: 55px;
}
.product-list .features .featurd.gas-cooker img{
	max-width: 100%;
}
.product-list .features .featurd .multi{
	width: 100%;
	display: block;
	font-weight: bold;
	text-align: center;
	position:absolute;
	top: 67px;
	font-size: 14px;
	line-height: 14px;
}

/* popup message */
.team-popup{
    max-width: 800px;
    background: #fff;
    padding: 40px 20px 20px;
    margin:0 auto;
    position: relative;
	border: 2px solid rgba(0, 0, 0, 0.07);
}
.team-popup .msg-image{
	text-align: center;
	padding-top: 15px;
}
.team-popup .msg-image img{
	max-width: 420px;
	margin: auto;
}
.team-popup .msg-text{
	text-align: center;
	margin: 15px 10px;
	line-height: normal;
}
.team-popup p{margin-bottom: 10px;text-align: center;line-height: normal;}
.team-popup .msg-button{
	text-align: center;
	padding-top: 15px;
    margin: 10px 0;
}
.mfp-container.mfp-inline-holder{
	padding: 0 !important;
}
.mfp-content{
	/* vertical-align: unset !important; */
	/* position: absolute !important; */
	/* top: 190px; */
	/* left: 0 !important; */
	top: 13%;
	vertical-align: top !important;
}
.mfp-close{
    right: 5px !important;
    top: 5px !important;
    height: 20px !important;
    width: 20px !important;
    line-height: 20px !important;
    font-size: 20px !important;
    border: 1px solid #bbb !important;
}
.mfp-bg{
    display: none;
}

.enquiry-mail .hs-form .hs-form-field > label{
	display: block;
	color: #000;
}
.product-list h3 a{padding-bottom: 5px;display: block;}
.product-list .info {margin-top: 25px;}

.enquiry-mail .hs-form .multi-container li .hs-form-radio-display input{width: auto;}
.subscribe-form.enquiry-mail .hs-error-msgs label{color: red;}
.subscribe-form.enquiry-mail .submitted-message p{font-size: 16px;color: #ff8900;background-color: #FFDBB7;padding: 10px 10px 20px;}
.subscribe-form .submitted-message p{font-size: 16px; color: #d64600;}
.subscribe-form.enquiry-mail{width: 100%;}
.content table tr.sub-header td{
    text-align: left;
    color: #000000;
    font-weight: bold !important;
    /* font-family: 'MontserratBold', Arial, Verdana, Helvetica; */
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    position: relative;
    top: -5px;
}

#slide-down-booking-form2{display: none;}
#slide-down-booking-form2 .booking-form .heading{border-radius: 0;margin-top: 3px;text-align: center;display: none;}
#slide-down-booking-form2 .booking-form{background: transparent;}
#slide-down-booking-form2 .booking-form form{background: #f89828;padding-top: 30px;margin: 3px 0;padding-bottom: 25px;}
#slide-down-booking-form2 .booking-form input[type="submit"]{border-radius: 4px;}
#slide-down-booking-form2 .booking-form .quote{width: 87%;margin: auto;}

.sidebar .call-to-action ul li{display:inline-block;list-style-type: none;padding: 0;background: none; width:47%;}
.sidebar .call-to-action ul li:first-child{margin-left: 0;}
.sidebar .call-to-action ul li:last-child{float:right;}
.sidebar .call-to-action ul li a{width:100%;}
.sidebar .call-to-action{margin-bottom: 0;margin-top: -10px;}
.sidebar .call-to-action ul{padding-top: 0;}

.container_slider{position: relative;}
.container_slider .tear_slider{position: absolute;bottom: -3px;left: 0;width: 100%;z-index: 1;}
.container_slider .tear_slider img{width: 100%;}
.container_slider #owl-demo{z-index: auto;}
.container_slider .owl-controls{z-index: 9;}

/* .ui-datepicker-multi .ui-datepicker-group{width: 33% !important; margin-right: 0.5%;} */
/* .ui-datepicker-multi .ui-datepicker-group-last{margin-right: 0;} */
/* .ui-datepicker-multi .ui-datepicker-header .ui-datepicker-title{font-size: 15px;} */
/* .ui-datepicker-multi .ui-datepicker-calendar thead{font-size: 14px;} */

#ui-datepicker-div { font-size: 1em;}
.ui-widget-header {border: 1px solid #fff !important; background: #f89828 !important; color: #fff !important;}
.page-template-quickquote .booking-form form{/*margin-top: 10px;*/}


/* BLOG PAGE */
.blog-page h3{color: #000;text-transform: unset; margin-top: 15px;font-size: 23px;font-family: 'Gotham',Helvetica, sans-serif;font-weight: 600;}
.blog-page img{border-radius: 7px;width: 100%;}
.blog-page p{margin-bottom: 15px;font-size: 14px;color: #666;font-family: Helvetica, 'Arial', sans-serif;}
.blog-page{margin-bottom: 30px;}
.read-more{font-size: 14px;font-weight: bold;text-transform: uppercase;color: #cc3300;font-family: 'Arial', Helvetica, sans-serif;}
.top_content p{font-size: 17px;color: #666;font-family: Helvetica, 'Arial', sans-serif;}
.load-more-wrap{margin-top: 60px;}
.blog_img{position: relative;}
.blog-section .blog_img img{width:100%;height:auto;filter:brightness(100%);border-radius:5px;}
.blog-section .blog_img:hover img{filter:brightness(50%);}

/* RESPONSIVE */
@media (max-width: 1919px) and (min-width: 1600px){
	.product-list .image {
		width: 100%;
	}
}
@media (min-width: 990px) and (max-width: 1200px){
	.product-list .call-to-action .btn{font-size: 12px;}
	.product-list .features-wrap{padding-bottom:30px;}
}
@media (min-width: 768px) and (max-width: 990px){
	.product-list .call-to-action .btn{font-size: 9px;}
	.product-list .features .featurd{height:40px;}
	.product-list .features .featurd .multi{top:45px; font-size:12px;}
	.product-list .features{padding-bottom:70px;}
	.product-list .features .featurd img{width:auto; max-height:30px;}
}
@media(max-width: 767px){
	.product-list .text{margin-bottom: 20px;float: left;}
	.team-popup{
		max-width: 100%;
	}
	.team-popup .msg-image img{
		width: 100%;
	}
	.team-popup .msg-text{
		font-size: 16px;
	}
	.book-now-button .booking-form{
		/* max-width: 100%; */
	}
	.global-header .contact-details li.phone .icon-phone{display: inline;}
	#slide-down-booking-form2 .booking-form input[type="submit"]{
		text-align: center;
		background-image: url('../images/general/get-quote-arrow.png');
		padding-right: 20%;
	}
	#launcher{display: none !important;}
	div:not(#slide-down-booking-form2) > .booking-form{
		width: -moz-calc(100% + 30px) !important;
		width: -webkit-calc(100% + 30px) !important;
		width: -o-calc(100% + 30px) !important;
		width: calc(100% + 30px) !important;
		position:relative;
		left:-15px;
	}
	body.home div:not(#slide-down-booking-form2) > .booking-form{
		width: -moz-calc(100% + 40px) !important;
		width: -webkit-calc(100% + 40px) !important;
		width: -o-calc(100% + 40px) !important;
		width: calc(100% + 40px) !important;
		position:relative;
		left:-20px;
	}
	#slide-down-booking-form > .booking-form .heading,
	body.page-template-quickquote .booking-form .heading{display:none;}
	#slide-down-booking-form > .booking-form form,
	body.page-template-quickquote .booking-form form{padding-top:20px;}
	div:not(#slide-down-booking-form2) > .booking-form .heading{border-radius: 0;}
	div:not(#slide-down-booking-form2) > .booking-form, div:not(#slide-down-booking-form2) > .booking-form input[type="submit"]{border-radius:0;}
	.rg-carrousel.owl-carousel .owl-item .item img{
		width: 100% !important;
		margin: 0;
	}
	.rg-carrousel .owl-nav span{
		color: #d64600;
		font-size: 50px;
		font-weight: bold;
	}
	.rg-carrousel .owl-nav button:focus{
		outline: none !important;
		/* background:none !important; */
	}
	.rg-carrousel .owl-prev{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		/* background: rgb(1, 1, 1, 0.6) !important; */
		background: url(../images/btn-transparancy.png) !important;
		margin: 0 !important;
		border-radius: 0 !important;
	}
	#rg-carrousel.owl-carousel .owl-nav button.owl-next, 
	#rg-carrousel.owl-carousel .owl-nav button.owl-prev{padding: 0 5px !important;}
	.rg-carrousel .owl-next{
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		/* background: rgb(1, 1, 1, 0.6) !important; */
		background: url(../images/btn-transparancy.png) !important;
	    background-repeat: repeat;
		margin: 0 !important;
		border-radius: 0 !important;
	}
	.rg-gallery{position: relative;}
	.rg-gallery img.most-popular{
		position: absolute;
		top: 10px;
		left: -10px;
		width: 60% !important;
		z-index: 999;
	}
	.vehicle-single{padding-left: 0;padding-right: 0;width: 100%;}
	.vehicle-single .btn{max-width: 100% !important;}
	.page-template-quickquote h1{
		display: none;
	}
	.page-template-quickquote .section.general{
		margin-top: 0;
	}
	div:not(#slide-down-booking-form2) > .booking-form .step2,
	div:not(#slide-down-booking-form2) > .booking-form .step3,
	div:not(#slide-down-booking-form2) > .booking-form .step4,
	div:not(#slide-down-booking-form2) > .booking-form .step5{
		width: 87% !important;
	}
	#mobile-menu .click-book-now{width: 42%;}
	#mobile-menu .rvs_menu{width: 50%;}
	div#cookie-alert{padding: 15px 10px !important;line-height: normal !important;}
	div#cookie-alert .action{margin-top: 10px !important;}
	div#cookie-alert .action .btn{margin-bottom: 0;}
	div#cookie-alert p{font-size: 14px;display: inline !important;line-height: normal !important;}
	#ui-datepicker-div{width: 99.5% !important;left: 0 !important;}
		.container_slider .owl-controls{
		display: block !important;
		left: 0;
		margin: 0 auto;
		width: 100%;
	}
}
@media(max-width: 490px){
	.product-list .features .featurd .multi{font-size: 12px;line-height: normal;}
}
@media(max-width: 425px){
	#mobile-menu .hamburger{max-width: 50px;}
	.product-list .features{padding-bottom:50px;}
	.product-list .features .featurd {height:40px;}
	.product-list .features .featurd img{max-height: 30px;}
	.product-list .features .featurd .multi{top:45px; font-size: 11px;}
	#mobile-menu .click-book-now{width: 40%;}
	#mobile-menu .rvs_menu{width: 52%;}
}
@media(max-width: 400px){
	#mobile-menu{width: calc(100% - 10px);}	
	#slide-down-booking-form2 .booking-form input[type="submit"]{padding-right: 80px;font-size: 18px;}
	.product-list .features{padding-bottom:45px;}
	.product-list .features .featurd {height:30px;}
	.product-list .features .featurd img{max-height: 22px;}
	.product-list .features .featurd .multi{top:35px; font-size: 10px;}
	#mobile-menu .click-book-now{width: 38%;}
	#mobile-menu .rvs_menu{width: 54%;}
}